@page "/category/create"

<h3>CategoryDetails</h3>

<MudGrid>
    <MudItem xs="12" lg="12">
        <MudText>@_title Category</MudText>
    </MudItem>
    <MudItem xs="12" lg="12">
        <EditForm Model="@_category" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator />
            <MudTextField For="@(() => _category.Name)" @bind-Value="@_category.Name" Label="@(nameof(_category.Name))" Variant="Variant.Outlined" OnlyValidateIfDirty="true" />
            <MudButton Color="Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit">@_title</MudButton>
            <MudButton Href="/category" Color="Color.Secondary" Variant="Variant.Filled">Back to Categories</MudButton>
        </EditForm>
    </MudItem>
</MudGrid>

@code {
    private CategoryDto _category { get; set; } = new();
    private string _title { get; set; } = "Create";

    private void HandleSubmit()
    {
    }
}