@page "/product/create"
@page "/product/edit/{id:int}"

@inject IProductRepository ProductRepository
@inject ICategoryRepository CategoryRepository
@inject NavigationManager NavigationManager
@inject IFileUploadService _fileUploadService
@inject ISnackbar SnackbarService

@attribute [Authorize]

<MudGrid>
    <MudItem xs="12" lg="12" md="12">
        <MudText Typo="Typo.h3">@_title Product</MudText>
    </MudItem>
    <MudItem xs="12" lg="12" md="12">
        @if (_isLoading)
        {
            <div class="text-center">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
            </div>
        }
        else
        {
            <MudForm @ref="_mudForm" Model="@_product" >
                <MudGrid>
                    <MudItem xs="12" lg="6" md="6">
                        <MudTextField @bind-Text="_product.Name" For="@(() => _product.Name)" Label="@(nameof(_product.Name))" Variant="Variant.Outlined" Required />
                        <MudTextField @bind-Text="_product.Color" For="@(() => _product.Color)" Label="@(nameof(_product.Color))" Variant="Variant.Outlined" />
                        <MudTextField @bind-Text="_product.Description" For="@(() => _product.Description)" Label="@(nameof(_product.Description))" Variant="Variant.Outlined" Lines="5" Required />
                        <MudAutocomplete T="CategoryDto"
                                     For="@(() => _product.Category)"
                                     Label="@(nameof(_product.Category))"
                                     Value="@_product.Category"
                                     SearchFunc="@SearchCategory"
                                     ToStringFunc="@(e => e != null ? e.Name : null )"
                                     Variant="Variant.Outlined"
                                     Required="true"
                                     RequiredError="Category is required"
                                     ValueChanged="@(x => OnCategoryChanged(x))" />
                        <MudCheckBox @bind-Checked="_product.ShopFavorites" For="@(() => _product.ShopFavorites)" Label="@(nameof(_product.ShopFavorites))" />
                        <MudCheckBox @bind-Checked="_product.CustomerFavorites" For="@(() => _product.CustomerFavorites)" Label="@(nameof(_product.CustomerFavorites))" />
                    </MudItem>
                    <MudItem xs="12" lg="6" md="6">
                        <MudGrid>
                            <MudItem xs="12" lg="12">
                                <MudFileUpload T="IReadOnlyList<IBrowserFile>" FilesChanged="UploadFiles" Context="imageUpload">
                                    <ButtonTemplate>
                                        <MudButton HtmlTag="label"
                                               Variant="Variant.Filled"
                                               Color="Color.Primary"
                                               StartIcon="@Icons.Material.Filled.CloudUpload"
                                                   for="@imageUpload">
                                            Upload Images
                                        </MudButton>
                                    </ButtonTemplate>
                                </MudFileUpload>
                            </MudItem>
                            <MudItem xs="12" lg="12">
                                @if (string.IsNullOrEmpty(_product.ImageUrl))
                                {
                                    <MudImage Src="images\\product\\default.jpg" Height="350" />
                                }
                                else
                                {
                                    <MudImage Src="@_product.ImageUrl" Height="350"/>
                                }
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                    <MudItem xs="12" lg="12" md="12">
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="HandleSubmit">@_title</MudButton>
                        <MudButton Href="/Product" Color="Color.Secondary" Variant="Variant.Filled">Back to Products</MudButton>
                    </MudItem>
                </MudGrid>
            </MudForm>
        }
    </MudItem>
</MudGrid>



@code {
    [Parameter]
    public int Id { get; set; }

    private ProductDto _product { get; set; } = new();
    private IEnumerable<CategoryDto> _categories { get; set; } = new List<CategoryDto>();
    private string _title { get; set; } = "Create";
    private bool _isLoading;
    private string _oldImageUrl { get; set; }

    private MudForm? _mudForm = new();

    private async Task UploadFiles(IReadOnlyList<IBrowserFile> files)
    {
        foreach(var file in files)
        {
            var fileInfo = new FileInfo(file.Name);

            if (fileInfo.Extension.ToLower() == ".jpg" ||
                fileInfo.Extension.ToLower() == ".png" || 
                fileInfo.Extension.ToLower() == ".jpeg")
            {
                _product.ImageUrl = await _fileUploadService.UploadFile(file);
            }
            else
            {
                SnackbarService.Add("Please only select image files", Severity.Error);
                return;
            }
        }

        _isLoading = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadProduct();
        }
    }

    private async Task LoadProduct()
    {
        _isLoading = true;
        StateHasChanged();
        _categories = await CategoryRepository.GetAll();

        if (Id != 0)
        {
            _title = "Update";
            _product = await ProductRepository.Get(Id);
            _oldImageUrl = _product.ImageUrl;
        }

        _isLoading = false;
        StateHasChanged();
    }

    private async Task HandleSubmit()
    {
        await _mudForm!.Validate();

        if (!_mudForm.IsValid) return;

        if (_product.Id == 0)
        {
            await ProductRepository.Create(_product);
            SnackbarService.Add("Product was created", Severity.Success);
        }
        else
        {
            if (_oldImageUrl != _product.ImageUrl)
            {
                _fileUploadService.DeleteFile(_oldImageUrl);
            }
            await ProductRepository.Update(_product);
            SnackbarService.Add("Product was updated", Severity.Success);
        }

        NavigationManager.NavigateTo("product");
    }

    private Task<IEnumerable<CategoryDto>> SearchCategory(string value)
    {
        if (string.IsNullOrEmpty(value))
        {
            return Task.FromResult(_categories.AsEnumerable());
        }
        else
        {
            return Task.FromResult(_categories.Where(x => x.Name.Contains(value, StringComparison.InvariantCultureIgnoreCase)));
        }
    }

    private void OnCategoryChanged(CategoryDto category)
    {
        _product.CategoryId = category.Id;
    }
}